@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Sora;
    src: url('./src/assets/Sora.ttf') format('truetype');
  }
  h1,
  h2,
  h3 {
    font-family: Sora, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}

.clip-custom {
  clip-path: polygon(
    0 0,
    calc(100% - 1rem) 0%,
    100% calc(0% + 1rem),
    100% 100%,
    0 100%,
    0% 50%
  );
}
