@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3 {
    font-family: 'Sora', sans-serif;
  }
}

.move-up {
  animation: moveUp 4s ease-in infinite;
}

.move-down {
  animation: moveDown 4s ease-in 1s infinite;
}

@keyframes moveUp {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate3d(0, -10px, 0);
  }
  50% {
    transform: translate3d(10px, -20px, 0);
  }
}

@keyframes moveDown {
  0% {
  }
  25% {
    transform: translate3d(0, 20px, 0);
  }
  50% {
    transform: translate3d(-20px, 25px, 0);
  }
  100% {
    transform: translate(0);
  }
}

@layer components {
  .c-button {
    @apply px-6 py-4 md:px-8 md:py-4 font-medium rounded-full inline-block;
  }
  .c-icon-button {
    @apply w-10 h-10 grid place-items-center;
  }
}
